img.action:hover {
    /* border: 1px solid #4169e1; */
    /* border-style: solid; */
    /* border-color: white; */
    /* border-width: 0.5px; */
    /* box-shadow: 2px 2px 19px #4169e1; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    cursor: pointer;
  }

  img.no-action{
    opacity: 0.5;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 50px; */
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #steps {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
  }

  /* #steps tr.name td {
    /* border: 1px solid #ddd; */
    /* padding: 2px 50px 2px 0px;
  } */ 

  #steps tr td#name{ padding: 2px 50px 2px 0px;}
  #steps tr td#status{ padding: 2px 50px 2px 50px;}

  /* #steps tr.status td{
    /* border: 1px solid #ddd; */
    /* padding: 2px 0px 2px 50px;
  }  */

  /* #steps th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4169e1;
    color: white;
  } */

  .label {
    color: white;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
  }
  .complete {background-color: #4CAF50;} /* Green */
  /* .info {background-color: #2196F3;} Blue */
  .running {background-color: #ff9800;} /* Orange */
  .incomplete {background-color: #f44336;} /* Red */ 
  /* .other {background-color: #e7e7e7; color: black;} Gray  */
