<div class="popover__wrapper">
  <a href="#">
    <h2 class="popover__title">Hover:me</h2>
  </a>
  <div class="push popover__content">
    <p class="popover__message">How you doin'?</p>
    <img src=http://placehold.it/400x200/">
  </div>
</div>
