.label {
    color: white;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
  }
  
  .complete {background-color: #4CAF50;} /* Green */
  /* .info {background-color: #2196F3;} Blue */
  .running {background-color: #ff9800;} /* Orange */
  .incomplete {background-color: #f44336;} /* Red */ 
  /* .other {background-color: #e7e7e7; color: black;} Gray  */
  
  input {
    flex-grow: 1;
    border: 1px solid silver;
    border-radius: 3px;
    padding-left: 5px;
  }

/* .jstree-node, .jstree-children, .jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.jstree-default .jstree-anchor {
  height: 28px !important;
  font-size: smaller !important;
  padding-right: 20px;
  border-radius: 20px;
}

.jstree-anchor {
  display: inline-block;
  color: #000;
  white-space: nowrap;
  padding: 0 4px 0 1px;
      padding-right: 4px;
  margin: 0;
  vertical-align: top;
}

.jstree-clicked {
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
} */

.node {
  height: 28px !important;
  padding-right: 20px;
  border-radius: 20px;
  line-height: 24px;
  margin-left: 200px;
  transition: background-color .15s,box-shadow .15s;
}

.node:hover{
  background:#e7f4f9;
  border-radius:20px;
  box-shadow:inset 0 0 1px #ccc
}

.node-clicked{
  background: #beebff;
  border-radius: 20px;
  box-shadow: inset 0 0 1px #999;

  height: 28px !important;
  padding-right: 20px;
  line-height: 24px;
  margin-left: 200px;
  transition: background-color .15s,box-shadow .15s;
}

jstree-default .jstree-anchor {
  height: 28px !important;
  font-size: smaller !important;
  padding-right: 20px;
  border-radius: 20px;
}
.jstree-default .jstree-anchor {
  line-height: 24px;
  height: 24px;
}
.jstree-default .jstree-clicked {
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}
.jstree-default .jstree-anchor, .jstree-default .jstree-wholerow {
  transition: background-color .15s,box-shadow .15s;
}
.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
  text-decoration: none;
  color: inherit;
}
.jstree-anchor {
  display: inline-block;
  color: #000;
  white-space: nowrap;
  padding: 0 4px 0 1px;
      padding-right: 4px;
  margin: 0;
  vertical-align: top;
}