<!-- Modal -->
<div modal="load-data" class="modal fade" [id]="id" role="dialog">
  <div class="modal-dialog" style="z-index: 9999999" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose file</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="col-sm-12"><br>
        <table *ngIf="files != null" style="width: 100%">
          <tr *ngFor="let file of files; let i = index">
            <td id="name_{{i}}" (dblclick)="loadfile(file)" class="node">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{file.filename}}</td>
            <td id="status" style="text-align: right;"><span class="label complete" >Available</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table>
        <br>
      </div>
      

      <div class="modal-footer">
        <!-- <div class="text-center">
          <button (click)="prevHelpModalStep()" type="button" class="btn btn-clear btn-secondary"><<</button>
          <button (click)="nextHelpModalStep()" type="button" class="btn btn-clear btn-secondary">>></button>
        </div> -->
        <br>
        <!-- <button type="button" class="btn btn-secondary">Select</button> -->
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>
