<br>
<div class="col-sm-12">
  <div class="alert alert-secondary" role="alert">
    <div class="row">
      <div class="col-sm-4">
        <div class="d-flex justify-content-around">
          <div class="card" style="width: 100%">
            <!--<img class="card-img-top" src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">Anuradha Wickramarachchi</h5>
              <p class="card-text">
                Research student <br>
                (Junior Consultant)
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="d-flex justify-content-around">
          <div class="card" style="width: 100%">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">Vijini Mallawaarachchi</h5>
              <p class="card-text">
                Research student <br>
                (Junior Consultant)
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="d-flex justify-content-around">
          <div class="card" style="width: 100%">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">Anuradha Weliwita</h5>
              <p class="card-text">
                Lecturer <br>
                BSc (Hons)
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-around">
          <div class="card"  style="width: 67%">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">Indika Perera</h5>
              <p class="card-text">
                Senior Lecturer
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-around">
          <div class="card" style="width: 67%">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">Dulani Meedeniya</h5>
              <p class="card-text">
                Senior Lecturer
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
