<!-- Modal -->
<div [attr.modal]="'modal-'+modalId" class="modal fade" role="dialog">
  <div class="modal-dialog" style="z-index: 9999999;" [style.max-width]="width" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="modal-header"></ng-content>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content select="modal-body"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="modal-footer"></ng-content>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
