.item {
  position: absolute;
  min-width: 200px;
  min-height: 10px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  /* padding: 16px; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* background-color: #f0ca58; */
  left: 20vw;
  top: 10vh;

  /* border: 1px solid #346789; */
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  /* opacity: 0.8; */
  cursor: pointer;
  z-index: 1;
  background-color: white;
  color: black;
}

.clicked {
  border: 5px solid #4169e1;
  /* background-color: #f05403 !important; */
}

.cross {
  float: right;
  margin-right: 10px
}

span i.fa {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  /* font-family: tahoma; */
  margin-top: 1px;
  margin-right: 2px;
  position:relative;
  top:0;
  right:0;
}

.label {
  color: white;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}

.complete {background-color: #4CAF50;} /* Green */
/* .info {background-color: #2196F3;} Blue */
.running {background-color: #ff9800;} /* Orange */
.incomplete {background-color: #f44336;} /* Red */ 
/* .other {background-color: #e7e7e7; color: black;} Gray  */

input {
  flex-grow: 1;
  border: 1px solid silver;
  border-radius: 3px;
  padding-left: 5px;
}


a{ 
  text-decoration: none;
}