<div class="container">
  <div [ngClass]="{'clicked': step.clicked}" [id]="step.stepId" class="item">

    <div (click)="onBoxClick($event)" style="text-align: center; z-index: 2; position: absolute; left: 100%; top: 50%">
      <i class="fa fa-caret-right"></i>
    </div>
    <div (click)="onBoxClick($event)" style="text-align: center; z-index: 2; position: absolute; right: 100%; top: 50%">
      <i class="fa fa-caret-left"></i>
    </div>

    <div class="h6">{{step.text}}
      <span (click)="onStepRemove($event)" style="float: right"><i class="fa fa-times"></i></span>
    </div>
    <hr>

    <form>
      <div *ngFor="let input of step.inputs; let i = index">
        <label style="display: inline-block">{{input.name}}</label>

        <input type="text" *ngIf="input.type == 'text'" style="max-width: 80px; float:right; text-align: right;"
          [(ngModel)]="input['value']" name="text">

        <select *ngIf="input.type == 'select'" style="max-width: 80px; float:right; text-align: right;"
          [(ngModel)]="input['value']" name="select">
          <option *ngFor="let selector of input.selectors" value="{{selector}}"
            [attr.selected]="input['value'] == selector  ? true : null">{{selector}}</option>
        </select>

        <div style="height: 100%; vertical-align: middle; float:right;">
          <input type="checkbox" *ngIf="input.type == 'check'" style="vertical-align: middle;"
            [(ngModel)]="input['value']" name="radio" value="true">
        </div>

        <div *ngIf="input.type == 'file'" style="float:right; text-align: right; margin-left: 10px; display: flex;">

          <!-- <app-load-data-modal (file)="upload($event)"></app-load-data-modal> -->
          <input type="file" id="fileUploadField_{{step.stepId}}_{{i}}" style="display: none;"
            (change)="handleUpload($event, step.stepId,i)" name="file">

          <input type="text" id="fileFieldname_{{step.stepId}}_{{i}}" placeholder="File to Upload" readonly="readonly"
            name="file">

          <button type="button" (click)="opendataModal(step.stepId,i)"
            style="border:1px solid silver; border-left: 0px; float: right;"><span><i class="fa fa-file"></i></span>
          </button>

        </div>

      </div>
      <br>
    </form>

    <div [ngStyle]="{'display': !(activeWorkflow && step.status == null) ? 'none': null}" style="text-align:center;">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>

    <span
      [className]="step.status == 'Completed' ? 'label complete' : step.status == 'Running' ? 'label running' : step.status == 'Incomplete' ?'label incomplete' : null">{{step.status}}</span>
    <div [ngStyle]="{'display': step.output == null ? 'none': null}" style="float: right">

      <a href="http://18.205.30.68/api/download?path={{step.output}}">
        <button type="button" style="border:1px solid silver; margin-left: 5px; border-radius: 5px;"><span><i
              class="fa fa-download"></i></span>
        </button>
      </a>


      <button [ngStyle]="{'display': step.display.length == 0 ? 'none': null}" type="button" (click)="openVisualizer(step.text ,step.display)"
        style="border:1px solid silver; margin-left: 5px; border-radius: 5px;"><span><i class="fa fa-eye"></i></span>
      </button>
    </div>
    <!-- </div> -->

    <!-- <button class="btn btn-block btn-secondary" *ngFor="let input of step.inputs; let i = index"
            (click)="onInputPress($event, 'dialog_'+step.stepId+'_'+i)">{{input.name}}
    </button> -->


    <!-- <div class="form-horizontal" *ngFor="let input of step.inputs; let i = index" style="display: none"
          id="dialog_{{step.stepId}}_{{i}}"
          title="Provide {{input.name}}">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-4 control-label">Enter the input {{input.name}}</label>
          <div class="col-md-8">

            <textarea *ngIf="input.type == 'text'" [(ngModel)]="input['tempValue']" class="form-control" rows="5"
                      style="width: 100%"></textarea>

            <select *ngIf="input.type == 'select'" class="form-control" [(ngModel)]="input['tempValue']">
              <option *ngFor="let selector of input.selectors" value="{{selector}}" [attr.selected]="input['tempValue'] == selector  ? true : null">{{selector}}</option>
            </select>

          <br>
          </div>
          <div style="float: right">
            <button (click)="onDialogCancel(input, 'dialog_'+step.stepId+'_'+i)" class="btn btn-secondary">Cancel</button>
            <button (click)="onDialogOk(input, 'dialog_'+step.stepId+'_'+i)" class="btn btn-secondary">Ok</button>
          </div>
        </div>
      </fieldset>
    </div> -->
  </div>
  <app-load-data-modal (file)="upload($event)" [id]="step.stepId"></app-load-data-modal>

  
    <app-checkm-msa></app-checkm-msa>
    
</div>