.drawing-board {
  /* width: 100%; */
  height: 80vh;
  border: 1px dotted #333a40;
  font-size: 12px;
  overflow: scroll;
}

.drawing-surface {
  background: url('/assets/grid.svg') repeat;
  background-size: 800px;
  transform-origin: left;
  /*transform: scale(0.5);*/
}

.jtk-surface {
  height: 500vh;
  width: 500vw;
  overflow: hidden !important;
  position: relative;
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  touch-action: none;
}

.jtk-surface-nopan {
  overflow: scroll !important;
  cursor: default;
}

.drawing-board.disabled {
  pointer-events: none;
  opacity: 0.4;
}
