/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;

  border: none;
  transition: 0.6s ease;
  background-color: transparent;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.ship-view-box {
  /* width: 450px; */
  transition: opacity .5s linear;
  opacity: 0;
}


.ship-view-box--active {
  /* transition: opacity .5s linear; */
  opacity: 1;
}
