<app-modal #checkmViewRaw [width]="'80%'">
  <modal-header>{{ head }} Result</modal-header>
  <modal-body>

    <div style="position: relative; height: 100%; width: 100%;">
      <img id="myimage" (transitionend)="onTransitionEnd()" class="ship-view-box" [class.ship-view-box--active]="active"
        *ngIf="image" style='height: 100%; width: 100%; object-fit: contain' [src]="image" />

      <!-- <img id="myimage" *ngIf="image" style='height: 100%; width: 100%; object-fit: contain' [src]="image" /> -->

      <button class="prev" (click)="prevHelpModalStep()">&#10094;</button>
      <button class="next" (click)="nextHelpModalStep()">&#10095;</button>
    </div>

    <!-- <img id="myimage" style='height: 100%; width: 100%; object-fit: contain' [src]="images[0]" /> -->
    <!-- Slideshow container -->
    <!-- <div class="slideshow-container">

      <div *ngFor="let image of images;" class="mySlides fade">
        <div class="numbertext">{{index}}/ {{images.length}}</div>
        <img [src]="image" style="width:100%">
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br> -->

    <!-- The dots/circles -->
    <!-- <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div> -->
  </modal-body>


  <!-- <modal-footer>
    <div class="text-center">
      <button (click)="prevHelpModalStep()" type="button" class="btn btn-clear btn-secondary"><<</button>
      <button (click)="nextHelpModalStep()" type="button" class="btn btn-clear btn-secondary">>></button>
    </div>
  </modal-footer> -->

</app-modal>